*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Times New Roman', Times, serif;
}

body{
    background-color: rgb(241, 241, 241);
}

header{
    display: flex;
    text-align: center;
    justify-content: space-between;
    padding: 1.5rem 2rem;
    margin: 0 auto;
}

.titulo{
    font-size: 25px;
    font-weight: bold;
}

.lista li{
    list-style: none;
    display: inline;
    margin: 1rem 1.5rem;
    font-size: 20px;
}

.lista a{
    text-decoration: none;
    color: black;
}

.info img{
    width: 100%;
    padding: 2rem;
    border-radius: 10px;
}

.info p{
    text-align: center;
    justify-content: center;
}

.obras-grid{
    padding-top: 3rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
}

.cuadros{
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 1.5rem;
    text-align: center;
}

.esculturas{
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 1.5rem;
    text-align: center;
}

.obras-grid img{
    width: 100%;
    height: 600px;
    object-fit: cover;
}

.cuadros h3{
    padding: 1.5rem;
}

.cuadros p{
    font-weight: bold;
    padding: 1.5rem;
}

.cuadros button{
    padding: 0.5rem;
    background-color: dimgrey;
    border-radius: 5px;
    border: none;
    color: white;
    font-weight: bold;
    
}

.cuadros a{
    text-decoration: none;
    color: black;
}

.esculturas h3{
    padding: 1.5rem;
}

.esculturas p{
    font-weight: bold;
    padding: 1.5rem;
}

.esculturas button{
    padding: 0.5rem;
    background-color: dimgrey;
    border-radius: 5px;
    border: none;
    color: white;
    font-weight: bold;
    
}

.esculturas a{
    text-decoration: none;
    color: black;
}